.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* overflow-x: scroll; */
}

.display_container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  
}

