@font-face {
    font-family: source-code-pro;
    src: url(https://fonts.gstatic.com/s/sourcecodepro/v22/HI_SiYsKILxRpg3hIP6sJ7fM7PqlPevWnsUnxg.woff2);
}

#canvas {
    background-color: black;
}

.code-container {
    flex: 1;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    margin: 6px 9px;
}

.buttons label {
    font-family: source-code-pro;
    margin: 0 10px;
    font-size: 15px;
    border: none;
    text-transform: uppercase;
}

.code {
    border: 2px solid black;
    height: 70vh;
    overflow-y: scroll;
}

.code ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: source-code-pro;
}

.code li {
    text-transform: uppercase;
    letter-spacing: 5px;
    display: flex;
    font-size: 15px;
}

.code li span.index {
    padding: 3px 0px;
    display: flex;
    justify-content: space-evenly;
}

.code li span.index svg {
    color: transparent;
}

.code li span.breakpoint svg {
    color: red;
}

.code li span.index.breakpoint:hover svg {
    color: red;
}

.code li span.index:hover {
    cursor: pointer;
}

.code li span.index:hover svg {
    color: rgba(255, 0, 0, 0.1);
}

.code li.selected-line {
    background-color: aquamarine
}

.code li.header {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: normal;
    display: flex;
    justify-content: center;
    background-color: pink;
    padding: 3px 0px;
}

.code li .index {
    flex: 1;
    letter-spacing: normal;
}

.code li .text {
    flex: 2;
}

.code-container .controls {
    display: flex;
    margin: 7px 0px;
    margin-bottom: 30px;
}

.code-container .controls button {
    margin: 0 3px;
    width: 40px;
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    color: beige;
    letter-spacing: 3px;
    font-size: 15px;
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 600;
}

.code-container .controls button:hover {
    cursor: pointer;
}

.code-container .controls button:active {
    background-color: #5c2be2;
}


.data {
    border: 2px solid black;
    flex:1;
}

.data .registers {
    letter-spacing: 3px;
    text-transform: uppercase;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: source-code-pro;
}

.data .registers li {
    display: flex;
    padding: 3px 0px;
    margin-left: 3px;
    margin-right: 3px;
}

.data .registers li.header {
    background-color: cyan;
    letter-spacing: normal;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 3px;
}

.data .registers li .reg-name {
    flex: 1;
}

.data .registers li .reg-val {
    flex: 2;
}

.data .registers li.changed {
    border-radius: 5px;
    box-shadow:  0 0 7px 1px #ffdf80;
}

.data .registers .twocolumns {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}